<!DOCTYPE html>
<html>
<head>
	<title>bShop</title>
	<%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
	<div id="menuBar">
  	<div><p>All Categories</p></div>
    <div><p>By Owner</p></div>
    <div><p>By Dealer</p></div>
  </div>
</body>
</html>