<!DOCTYPE html>
<html>
<head>
	<%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body>

  <div id="navBar">
    <div id="indCats"><a href="#">Individual</a></div>
    <div id="busCats"><a href="#">Business</a></div>
  </div>

  <div id="navWrap"></div>

  <div id="catContainer">


    <div id="indie">
      
      <div class="catBox" id="indieSale">
        <h2>Individual For Sale</h2>
        <div id="indieTop">
          <p>Free</p>
          <p>Trade</p>
        </div>
        <ul>
          <li>Appliances</li>
          <li>Audio</li>
          <li>Autos</li>
          <li>Auto Wheels / Tires</li>
          <li>Auto Parts</li>
          <li>Baby Stuff</li>
          <li>Bicycles</li>
          <li>Business / Industrial</li>
        </ul>
        <ul>
          <li>Cameras</li>
          <li>CDs / Vinyl</li>
          <li>Clothes - Youth</li>
          <li>Clothes - Teen / Adult</li>
          <li>Collectibles / Antiques</li>
          <li>Computers</li>
          <li>Computer Hardware</li>
          <li>Electronics</li>
        </ul>
        <ul>
          <li>Farming / Gardening</li>
          <li>Furniture</li>
          <li>Garage Sales</li>
          <li>Industrial Equipment</li>
          <li>Jewelry</li>
          <li>Marine</li>
          <li>Materials</li>
          <li>Motorcycles</li>
        </ul>
        <ul>
          <li>Music Instruments</li>
          <li>Phones</li>
          <li>Recreational Vehiles</li>
          <li>Sports</li>
          <li>Tools</li>
          <li>Toys / Games</li>
          <li>Video Gaming</li>
          <li>Other</li>
        </ul>

      </div>

      <div class="catBox" id="indieHousing">
        <h2>Individual Housing</h2>
        <div>
          <ul>
            <li>Apartments</li>
            <li>Houses</li>
            <li>Housing Wanted</li>
          </ul>
          <ul>
            <li>Land</li>
            <li>Rooms for Rent</li>
            <li>Rooms Wanted</li>
          </ul>
          <ul>
            <li>Short Term Rental</li>
            <li>Storage / Parking</li>
            <li>Vacation Rental</li>
          </ul>
        </div>
      </div>

      <div class="catBox" id="indieHousing">
        <h2>Individual Jobs</h2>
        <div>
          <ul>
            <li>Art and Design</li>
            <li>Education / Tutors</li>
          </ul>
          <ul>
            <li>Software</li>
            <li>Labor / Misc Help</li>            
          </ul>
          <ul>
            <li>Transportation</li>
            <li>Web Development</li>
          </ul>
        </div>
      </div>

    </div>

    <div id="business">
      
    </div>

  </div>

</body>
</html>