<!DOCTYPE html>
<html>
<head>
	<title>bShop</title>
	<%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
	<div id="menuBar">
  	<table>
  		<tr>
  			<th>All Categories</th>
  			<th>Categories by Owners</th>
  			<th>Categories by Dealers</th>
  		</tr>
  	</table>
  </div>
</body>
</html>