body {
	background-color: #d8d8d8;
}

#navWrap {
	margin-top: -50px;
	height: 50px;
	width: 65%;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px 15px 0px 0px;
	background-color: #609eff;
}

#navBar {
	width: 60%;
	display: flex;
	justify-content: space-between;
	padding-left: 5%;
	padding-right: 5%;
	font-weight: bold;
	font-size: 1.2em;
	letter-spacing: 1px;
	margin: 0px auto;
	margin-top: -45px;
	z-index: 2;
}

#indCats {
	background-color: #4c7dc9;
	margin: 0px auto;
}

#busCats {
	background-color: #588cdd;
}

#navBar div {	
	border-radius: 15px 15px 0px 0px;
	padding-right: 15px;
	padding-left: 15px;
	height: 35px;
	padding-top: 10px;
	width: 50%;
	text-align: center;

	-webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

#navBar div:hover {
	background-color: #4c7dc9;
	-webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

#navBar div a {
	display: block;
	text-decoration: none;
	color: black;

}

#catContainer {
	width: 65%;
	background-color: #4c7dc9;
	margin: 0px auto;
	padding-top: 15px;
	border-radius: 0px 0px 10px 10px;
	padding-bottom: 15px;
}

.catBox {
	width: 95%;
	margin: 0px auto;
	border: 3px solid #3261ad;
	border-radius: 10px;
	font-size: 110%;
	margin-top: 8px;
}

.catBox h2 {
	text-align: center;
	width: auto;
	margin: 1%;
	color: #e0e0e0;
}

.catBox ul {
	list-style-type: none;
	display: inline-block;
	width: 20%;
	min-width: 190px;
}

.catBox li {
	text-align: left;
	margin: 3%;
}

#indieTop {
	width: 60%;
	margin: 0px auto;
	text-align: center;
	margin-bottom: -1%;
}

#indieTop p {
	width: 45%;
	display: inline-block;
}

#indieHousing ul {
	min-width: 160px;
	margin: 0px auto;
}

#indieHousing div {
	margin: 0px auto;
	width: 68%;
}

@media only screen and (max-width: 768px) {
	#navWrap {display: none;}
	#navBar {
		margin-top: 0px;
		display: flex;
		width: 100%;
		padding: 0;
	}
	#navBar div {
		width: 50%;
		padding: 0;
		margin: 0;
		padding-top: 10px;
		border-radius: 0;
	}
	#catContainer {
		width: 100%;
	}
	body {
		background-color: #383838;
	}
	#indieTop {
		margin-bottom: 20px;
	}
	.catBox {
		font-size: 150%;
	}
	.catBox ul {
		width: 80%;
		margin-top: -30px;
	}
	.catBox li {
		text-align: center;
		border-radius: 5px;
	}
	#indieHousing div {
		width: 100%;
	}
	#indieHousing ul {
		width: 80%;
	}
	#indieHousing li {
		text-align: center;
	}
}